.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 1em;
    padding: 1em;
}











.rating {
  margin: 1px;
  padding: 1px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 20px;
}

.like,
.dislike {
  display: flex;
  flex-direction: row;  
  align-items: baseline;
  cursor: pointer;
  margin: 10px;
  fill: none;
  border: 0em;
}

.dislike:hover,
.like:hover {
  color: grey;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.dislike:active {
  color: red;
}

.like:active {
  color: green;
}
  






.button {
    display: inline;
    font-size: 16px;
    cursor: pointer;
    margin: 1em;
    padding: 1em;
}

.inactive {
    color: grey;
  }
 
#thumb_down.active {
    color: red;
  }

#thumb_up.active {
    color: green;
  }
